.input-wrapper {
    display: flex;
}

.input {
    width: 200px;
    border: 1px solid #d197ff;
    background-color: transparent;
    border-right: none;
    padding-left: 5px;
}

.input:focus-visible {
    outline: none;
}

.add-button {
    color: #00c875;
}

textarea:focus, input:focus {
    color: #ffffff;
}